@import "tailwindcss";
@plugin "daisyui";

@theme {
    --color-primary: #5d4037;
    --color-base-100: #fdfaf3;
}

[data-theme="cupcake"] {
    --color-primary: #5d4037;
    --bg-base-100: #fdfaf3;
    --color-secondary: #8d6e63;
}
